<div class="container">
  <h1>Certificado</h1>

  <%= render 'form', certificado: @certificado %>
  <div class="mt-3">
    <%= link_to 'Atrás', certificado_path(@certificado), :class => "btn btn-dark" %>
  </div>
</div>
