<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
  p {margin: 0; padding: 0;}  .ft10{font-size:19px;font-family:Times;color:#006fc0;}
  .ft11{font-size:25px;font-family:Times;color:#ff0000;}
  .ft12{font-size:19px;font-family:Times;color:#ff0000;}
  .ft13{font-size:25px;font-family:Times;color:#6f2f9f;}
  .ft14{font-size:16px;font-family:Times;color:#000000;}
  .ft15{font-size:16px;line-height:20px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page1-div" style="position:relative;width:1512px;height:918px;">
<img width="1512" height="918" src="target001.png" alt="background image"/>
<p style="position:absolute;top:418px;left:138px;white-space:nowrap" class="ft10"><b>09&#160;&#160;DE&#160;NOVIEMBRE&#160;DE&#160;2017&#160;</b></p>
<p style="position:absolute;top:418px;left:1062px;white-space:nowrap" class="ft10"><b>09&#160;DE&#160;FEBRERO&#160;DE&#160;2018&#160;</b></p>
<p style="position:absolute;top:745px;left:374px;white-space:nowrap" class="ft11"><b>PELOTERO &#160;&#160;CHIQUILINES</b></p>
<p style="position:absolute;top:749px;left:728px;white-space:nowrap" class="ft12"><b>&#160;</b></p>
<p style="position:absolute;top:803px;left:310px;white-space:nowrap" class="ft13"><b>SAN &#160;&#160;JUAN &#160;&#160;N° &#160;341&#160;&#160;-&#160;&#160;SALTA&#160;&#160;-&#160;&#160;CAPITAL&#160;&#160;&#160;</b></p>
<p style="position:absolute;top:132px;left:106px;white-space:nowrap" class="ft15">.&#160;<br/>&#160;</p>
</div>
</body>
</html>
