<div class="container">
  <h1>Editar datos de Técnico</h1>

  <%= render 'form', tecnico: @tecnico %>
<div class="my-3">
  <%= link_to 'Atras', tecnico_path(@tecnico), :class => "btn btn-dark" %>
</div>
</div>
